USE [ITC_Producao_27082009]
GO
/****** Object:  StoredProcedure [dbo].[SP_SE_LISTAPESQUISA]    Script Date: 06/05/2013 10:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_SE_LISTAPESQUISA]            
	@FASES VARCHAR(100) = NULL,              
	@TIPOS VARCHAR(100) = NULL,              
	@ESTADOS VARCHAR(100) = NULL,              
	@REGIOES VARCHAR(100) = NULL,              
	@DATAINICIAL DATETIME = NULL,              
	@DATAFINAL DATETIME = NULL,              
	@QUANTREG INT = 0,              
	@IDUSUARIO INT = 1,              
	@NOMEOBRA VARCHAR(50) = NULL,
	@ORDER INT = 0 ,
	@IDEMPRESA INT = -1,              
	@CODIGOITC VARCHAR(100) = NULL,              
	@ENDERECO VARCHAR(100) = NULL,              
	@BAIRRO VARCHAR(100) = NULL,              
	@IDCIDADE VARCHAR(100) = NULL,              
	@DESCRICAO VARCHAR(255) = NULL,              
	@CEPINICIAL VARCHAR(10) = NULL,              
	@CEPFINAL VARCHAR(10) = NULL,              
	@NRDAREVISAO INT = NULL,             
	@INICIOOBRA DATETIME = NULL,              
	@TERMINOOBRA DATETIME = NULL,              
	@IDPESQUISADOR INT = 0,              
	@AREACONSTRUIDA VARCHAR (50) = NULL,
	@CHECAGEMAREA TINYINT = 1,
	@VALOR MONEY = 0,
	@CHECAGEMVALOR TINYINT = 1,
	@EMPRESAPARTIC VARCHAR(100) = NULL,
	@IDMODALIDADE INT = 0,              
	@ESTAGIOS VARCHAR(100) = NULL,
	@IDUF VARCHAR(10) = NULL,              
	@CHECKREVISAO TINYINT = 0,
	@GSP INT = 0,            
	@IDSTATUSSIG INT = 0,
	@DEMO TINYINT = 0
	
AS              
BEGIN 

IF NOT @IDCIDADE IS NULL
BEGIN
	DECLARE @CIDADE VARCHAR (100)
	SET @CIDADE = (SELECT CIDADE FROM TB_CIDADES_CID (NOLOCK) WHERE IDCIDADE = @IDCIDADE)
END

IF NOT @IDUF IS NULL
BEGIN
	DECLARE @UF VARCHAR (2)
	SET @UF= (SELECT UF FROM TB_ESTADOS_EST (NOLOCK) WHERE IDESTADO = @IDUF)
END

SET NOCOUNT ON              
             
DECLARE @PERMISSAO_REGIAO bigint
SET  @PERMISSAO_REGIAO = 0            

           
if @IDEMPRESA = -1 or @IDEMPRESA = 0
	SET  @PERMISSAO_REGIAO = 128            
else            
begin            
	IF NOT EXISTS( SELECT  1            
		FROM  TB_PERMISSAOUSUARIO_REGIAO (NOLOCK)            
		WHERE  IDUSUARIO = @IDUSUARIO            
		) AND @IDEMPRESA = -1            
		SET  @PERMISSAO_REGIAO = 128            
	ELSE IF EXISTS (SELECT 1            
		FROM  TB_PERMISSAOUSUARIO_REGIAO (NOLOCK)            
		WHERE  IDUSUARIO = @IDUSUARIO            
		AND  IDREGIAO = 8            
		)            
		SET  @PERMISSAO_REGIAO = 128            
	ELSE      
	
		SELECT  @PERMISSAO_REGIAO = SUM(OBR_REGIAO_ENUM_IND)            
		FROM  TB_PERMISSAOUSUARIO_REGIAO PRE (NOLOCK)            
		INNER JOIN TB_REGIOES_REG REG (NOLOCK)             
		ON REG.IDREGIAO = PRE.IDREGIAO            
		WHERE  IDUSUARIO = @idusuario
		
	END           
              

SET ROWCOUNT @QUANTREG            
              
DECLARE @DATA_INICIO_PERMISSAO DATETIME,              
		@DATA_TERMINO_PERMISSAO DATETIME              	          

	SELECT  @DATA_INICIO_PERMISSAO = DTM_DATAINICIOPLANO,              
			@DATA_TERMINO_PERMISSAO = DTMDATAFIMPLANO              
	FROM	TB_ASSOCIADOS_ASS ASS (NOLOCK),              
			TB_USUARIO_USU USU              
	WHERE	USU.EMP_IDEMPRESA_INT_FK = ASS.CODIGO              
	AND		USU.USU_USUARIO_INT_PK = @IDUSUARIO              
              
IF NOT @CEPINICIAL IS NULL              
BEGIN              
	SET @CEPINICIAL = REPLACE(@CEPINICIAL, '-', '')              
END              
              
IF NOT @CEPFINAL IS NULL              
BEGIN              
	SET @CEPFINAL = REPLACE(@CEPFINAL, '-', '')              
END              
              
SELECT  CODIGO,              
	CODIGOANTIGO,              
	convert(varchar(10), ATUALIZACAO, 103) ATUALIZACAO,        
	convert(varchar(10), PUBLICACAO, 103) PUBLICACAO,            
	NRDAREVISAO,              
	PESQUISADOR,              
	PROJETO,              
	VALOR,              
	AREACONSTRUIDA,              
	NRDEFUNCIONARIOS,              
	CAPACIDADEDEPRODUCAO,              
	PRODUTOFINAL,              
	MATERIAPRIMA,              
	ENDERECO,              
	COMPLEMENTO,       
	CEP, 
	CIDADE,              
	UF.IDESTADO,              
	ESTADO,              
	INICIO,              
	TERMINO,              
	EST.IDESTAGIO,              
	DESCRICAOESTAGIO,     
	FAS.IDFASE,              
	DESCRICAOFASE,              
	TIP.IDTIPO, 
	DESCRICAOTIPO,              
	DESCPROJ1, 
	ISNULL((SELECT TOP 1 FANTASIA FROM TB_EMPRESAS_OBRAS_EMO EMO (NOLOCK) 
			INNER JOIN TB_EMPRESAS_EMP EMP (NOLOCK) ON EMO.IDEMPRESA = EMP.CODIGO 
			inner join TB_Modalidades_mod moda (nolock) on moda.IdModalidade = EMO.IDMODALIDADE
			WHERE EMO.IDOBRA = OBR.CODIGO /*AND (EMO.IDMODALIDADE = 2 OR EMO.IDMODALIDADE = 1)*/
			order by moda.ordenacao, moda.IdModalidade), 'EMPRESA NÃO CADASTRADA') FANTASIA,              
	ISNULL((SELECT TOP 1 RAZAOSOCIAL FROM TB_EMPRESAS_OBRAS_EMO EMO (NOLOCK) 
	       INNER JOIN TB_EMPRESAS_EMP EMP (NOLOCK) ON EMO.IDEMPRESA = EMP.CODIGO
	        inner join TB_Modalidades_mod moda (nolock) on moda.IdModalidade = EMO.IDMODALIDADE
	       WHERE EMO.IDOBRA = OBR.CODIGO 
	        order by moda.ordenacao , moda.IdModalidade),'EMPRESA NÃO CADASTRADA') RAZAOSOCIAL,      
	seg_segmento_int_FK IDSegmento,
	Isnull((SELECT TOP 1 DescricaoStatusSIG 
			FROM TB_FOLLOWUP_FUP FUP (NOLOCK) 
			INNER JOIN TB_StatusSIG_sts STS (NOLOCK) ON STS.IdStatusSIG = FUP.IDSTATUSSIG
			WHERE FUP.INDTIPO = 1 AND FUP.IDEMPRESA_OBRA = OBR.CODIGO AND FUP.IDASSOCIADO = @IDEMPRESA ORDER BY FUP.DATA DESC), '')STATUSSIG
	FROM  TB_OBRAS_OBR OBR (NOLOCK),              
	TB_ESTAGIO_EST EST (NOLOCK),              
	TB_ESTADOS_EST UF (NOLOCK),              
	TB_TIPOS_TIP TIP (NOLOCK),              
	TB_FASES_FAS FAS (NOLOCK)
		WHERE  OBR.IDTIPO = TIP.IDTIPO            
		AND  OBR.IDESTADO = UF.IDESTADO              
		AND  OBR.IDESTAGIO = EST.IDESTAGIO              
		AND  OBR.IDFASE = FAS.IDFASE      
		AND  (@DATA_INICIO_PERMISSAO IS NULL OR @DATA_TERMINO_PERMISSAO IS NULL OR PUBLICACAO BETWEEN @DATA_INICIO_PERMISSAO AND @DATA_TERMINO_PERMISSAO)                      
		AND  (@FASES IS NULL OR FAS.IDFASE IN (SELECT ROW FROM DBO.GETTABLE(@FASES, ',')))              
		AND (              
			(@IDEMPRESA = -1 AND (@TIPOS IS NULL OR TIP.IDTIPO IN (SELECT ROW FROM DBO.GETTABLE(@TIPOS, ','))))            OR              
			(@IDEMPRESA = 0 AND (@TIPOS IS NULL OR TIP.IDTIPO IN (SELECT ROW FROM DBO.GETTABLE(@TIPOS, ','))))            OR              
			(@TIPOS IS NULL AND TIP.IDTIPO IN (SELECT IDTIPO FROM TB_PERMISSAOUSUARIOTIPO_PUT WHERE IDUSUARIO = @IDUSUARIO) OR TIP.IDTIPO IN (SELECT ROW FROM DBO.GETTABLE(@TIPOS, ',')))            
			)              
		AND              
			(              
			(@DATAINICIAL IS NULL AND @DATAFINAL IS NULL)              
			OR              
			(NOT @DATAINICIAL IS NULL AND @DATAFINAL IS NULL AND PUBLICACAO >= @DATAINICIAL)              
			OR              
			(NOT @DATAFINAL IS NULL AND @DATAINICIAL IS NULL AND PUBLICACAO <= @DATAFINAL)              
			OR              
			(PUBLICACAO >= @DATAINICIAL AND PUBLICACAO <= @DATAFINAL)              
			)            
		AND  (@NOMEOBRA IS NULL OR PROJETO COLLATE SQL_Latin1_General_CP1_CI_AI LIKE '%' + @NOMEOBRA + '%')              
		AND  (@CODIGOITC IS NULL OR CODIGOANTIGO LIKE '%' + @CODIGOITC + '%')              
		AND  (@ENDERECO IS NULL OR ENDERECO COLLATE SQL_Latin1_General_CP1_CI_AI LIKE '%' + @ENDERECO + '%')  
        AND  (@CIDADE IS NULL  or @CIDADE = 'A definir' or CIDADE COLLATE SQL_Latin1_General_CP1_CI_AI LIKE '%' + @CIDADE + '%')      
		AND  (@BAIRRO IS NULL OR COMPLEMENTO COLLATE SQL_Latin1_General_CP1_CI_AI LIKE '%' + @BAIRRO + '%')              
		AND  (@IDCIDADE IS NULL OR @CIDADE = 'A definir' OR CIDADE COLLATE SQL_Latin1_General_CP1_CI_AI LIKE '%' + REPLACE(@CIDADE, 'Selecione...', '') + '%')              
		AND  (@IDUF IS NULL OR UF = @UF)              
		AND  (@DESCRICAO IS NULL OR DESCPROJ1 COLLATE SQL_Latin1_General_CP1_CI_AI LIKE '%' + REPLACE(@DESCRICAO, ' ', '%') + '%')              
		AND  (@NRDAREVISAO IS NULL OR (NRDAREVISAO >= @NRDAREVISAO AND @CHECKREVISAO = 1) OR (NRDAREVISAO <= @NRDAREVISAO AND @CHECKREVISAO = 2))               
        AND  ((@INICIOOBRA IS NULL AND @TERMINOOBRA IS NULL) OR (NOT @INICIOOBRA IS NULL AND ISNULL(@TERMINOOBRA,NULL) IS NULL AND INICIO = @INICIOOBRA) OR (NOT @TERMINOOBRA IS NULL AND ISNULL(@INICIOOBRA,NULL) IS NULL AND TERMINO = @TERMINOOBRA) OR (INICIO = ISNULL(@INICIOOBRA,NULL) AND TERMINO = ISNULL(@TERMINOOBRA,NULL)))
	  	AND  (@IDPESQUISADOR = 0 OR PESQUISADOR = @IDPESQUISADOR)              
		AND  (CAST(@AREACONSTRUIDA AS INT) IS NULL OR (CAST(AREACONSTRUIDA AS INT) >= CAST(@AREACONSTRUIDA AS INT) AND @CHECAGEMAREA = 1) OR (CAST(AREACONSTRUIDA AS INT) <= CAST(@AREACONSTRUIDA AS INT) AND @CHECAGEMAREA = 2) OR (CAST(AREACONSTRUIDA AS INT) = CAST(@AREACONSTRUIDA AS INT) AND @CHECAGEMAREA = 3) OR (CAST(AREACONSTRUIDA AS INT) <> CAST(@AREACONSTRUIDA AS INT) AND @CHECAGEMAREA = 4))              
		AND  (@VALOR IS NULL OR (VALOR >= @VALOR AND @CHECAGEMVALOR = 1) OR (VALOR <= @VALOR AND @CHECAGEMVALOR = 2) OR (VALOR = @VALOR AND @CHECAGEMVALOR = 3) OR (VALOR <> @VALOR AND @CHECAGEMVALOR = 4))              
		AND  (@EMPRESAPARTIC IS NULL OR EXISTS(SELECT 1 FANTASIA FROM TB_EMPRESAS_OBRAS_EMO EMO (NOLOCK) INNER JOIN TB_EMPRESAS_EMP EMP (NOLOCK) ON EMO.IDEMPRESA = EMP.CODIGO WHERE FANTASIA COLLATE SQL_Latin1_General_CP1_CI_AI LIKE '%' + @EMPRESAPARTIC + '%' AND EMO.IDOBRA = OBR.CODIGO))             
	    
		AND  ((@CEPINICIAL IS NULL AND @CEPFINAL IS NULL)              
			OR              
			(NOT @CEPINICIAL IS NULL AND @CEPFINAL IS NULL AND REPLACE(CEP, '-', '') >= @CEPINICIAL)            
			OR              
			(NOT @CEPFINAL IS NULL AND @CEPINICIAL IS NULL AND REPLACE(CEP, '-', '') <= @CEPFINAL)              
			OR              
			(REPLACE(CEP, '-', '') >= @CEPINICIAL AND REPLACE(CEP, '-', '') <= @CEPFINAL)            
			)              
		AND  (@IDMODALIDADE = 0 OR EXISTS(SELECT 1 FANTASIA FROM TB_EMPRESAS_OBRAS_EMO EMO (NOLOCK) INNER JOIN TB_EMPRESAS_EMP EMP (NOLOCK) ON EMO.IDEMPRESA = EMP.CODIGO WHERE EMO.IDMODALIDADE = 2 /*OR  EMO.IDMODALIDADE = 1*/))              
		AND  (@ESTAGIOS IS NULL OR OBR.IDESTAGIO IN (SELECT ROW FROM DBO.GETTABLE(@ESTAGIOS, ',')))              
		AND          
			(
				(@ESTADOS IS NULL AND (@IDEMPRESA = -1 or @IDEMPRESA = 0))              
				OR              
				(@ESTADOS IS NULL AND UF.IDESTADO IN (SELECT IDESTADO FROM DBO.VW_ESTADOSUSUARIO WHERE IDUSUARIO = @IDUSUARIO))              
				OR              
				(UF.IDESTADO IN (SELECT ROW FROM DBO.GETTABLE(@ESTADOS, ',')))            
				OR            
				(@ESTADOS IS NULL and OBR_REGIAO_ENUM_IND & @PERMISSAO_REGIAO > 0)            
			)
		AND (@GSP = 0 OR (@GSP = 1 AND REPLACE(OBR.CEP, '-', '') >= '01000000') AND REPLACE(OBR.CEP, '-', '') <= '09999999')
		AND  INDSTATUS = 1      
	        
		AND (@DEMO = 0 OR (@DEMO = 1 AND INDDEMO = 1))
		AND	(@IDSTATUSSIG = 0 OR (@IDSTATUSSIG = (SELECT TOP 1 IDSTATUSSIG FROM TB_FOLLOWUP_FUP FUP (NOLOCK) WHERE FUP.INDTIPO = 1 AND FUP.IDEMPRESA_OBRA = OBR.CODIGO AND FUP.IDASSOCIADO = @IDEMPRESA ORDER BY FUP.DATA DESC)))
    
ORDER BY      
CASE @ORDER            
	WHEN 1 THEN CODIGOANTIGO            
	WHEN 2 THEN PROJETO            
	WHEN 3 THEN ENDERECO  
    WHEN 5 THEN CIDADE          
	WHEN 4 THEN (SELECT TOP 1 FANTASIA FROM TB_EMPRESAS_OBRAS_EMO EMO (NOLOCK) 
			INNER JOIN TB_EMPRESAS_EMP EMP (NOLOCK) ON EMO.IDEMPRESA = EMP.CODIGO 
			inner join TB_Modalidades_mod moda (nolock) on moda.IdModalidade = EMO.IDMODALIDADE
			WHERE EMO.IDOBRA = OBR.CODIGO order by moda.ordenacao, moda.IdModalidade)
   
	END  
END         


/*GO
[SP_SE_LISTAPESQUISA]            
	@FASES = NULL,              
	@TIPOS = NULL,              
	@ESTADOS = NULL,              
	@REGIOES  = NULL,              
	@DATAINICIAL = NULL,              
	@DATAFINAL  = NULL,              
	@QUANTREG = 0,              
	@IDUSUARIO  = 10,              
	@NOMEOBRA  = NULL,
	@ORDER  = 2 ,
	@IDEMPRESA  = -1,              
	@CODIGOITC  = NULL,              
	@ENDERECO  = NULL,              
	@BAIRRO  = NULL,              
	@IDCIDADE  = null,              
	@DESCRICAO  = NULL,              
	@CEPINICIAL = NULL,              
	@CEPFINAL  = NULL,              
	@NRDAREVISAO = NULL,             
	@INICIOOBRA  = NULL,              
	@TERMINOOBRA = NULL,              
	@IDPESQUISADOR = 0,              
	@AREACONSTRUIDA  = NULL,
	@CHECAGEMAREA  = 1,
	@VALOR = 0,
	@CHECAGEMVALOR = 1,
	@EMPRESAPARTIC  = NULL,
	@IDMODALIDADE  = 1,              
	@ESTAGIOS  = NULL,
	@IDUF  = NULL,              
	@CHECKREVISAO  = 0,
	@GSP  = 0,            
	@IDSTATUSSIG  = 0,
	@DEMO = 0
	*/